{% extends "base/base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} - {{ modelo.nombre }} {% endblock %}

{% block body %}
    <p>
        <h1>
            {% trans "Model info" %}
        </h1>
        {{ object }}
    </p>
    <p>
        Aqui ira las imagenes del modelo, si las tiene.
    </p>
    <p>
        Aqui va la valoración en nota (imagen)
    </p>
    <p>
        Faltan los tags
    </p>
    <p>
        Y los comentarios
    </p>
    <p>
        <a href="{% url 'modificar_modelo' object.id %}">{% trans "Modify model" %}</a>
    </p>
    <p>
        <a href="{% url 'eliminar_modelo' object.id %}">{% trans "Delete model" %}</a>
    </p>
    <p>
        <a href="{% url 'index' %}">{% trans "Return to index" %}</a>
    </p>
{% endblock %}