{% extends "base/base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} - {{ object.nombre }} {% endblock %}

{% block body %}
    <h1>
        {{object.nombre}}
    </h1>
    <div class="imagen_principal">
        {% for imagen in object.get_imagenes %}
            <img src="{{ imagen.imagen.url }}" />
        {% endfor %}
    </div>
    <div class="descripcion">
        {{ object.descripcion }}
    </div>
    <div class="valoracion">
        {{ object.valoracion }}
    </div>
    <div class="tags">
        {% for tag in object.get_tags %}
            <a class="tag_button" href="{% url 'ver_modelos_tags' tag.tag %}">{{ tag.tag }}</a>
        {% endfor %}
    </div>
    <div class="autor">
        {{ object.user }}
    </div>
    <p>
        Y los comentarios
    </p>
    <p>
        <a href="{% url 'modificar_modelo' object.id %}">{% trans "Modify model" %}</a>
    </p>
    <p>
        <a href="{% url 'eliminar_modelo' object.id %}">{% trans "Delete model" %}</a>
    </p>
    <p>
        <a href="{% url 'index' %}">{% trans "Return to index" %}</a>
    </p>
{% endblock %}