{% extends "base/base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Delete confirmation" %} {% endblock %}

{% block body %}
    <p>{% trans "Are you sure you want to delete next image? " %}</p>
    <img src="{{ imagen.imagen.url }}" class="minimagen lista-imagenes" />
    <form action="" method="post">
        {% csrf_token %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% trans "Delete" %}
            </button>
        {% endbuttons %}
    </form>
{% endblock %}
