{% extends "base/base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} - Tags '{{ nombre_tag }}'{% endblock %}

{% block body %}
    <h2>Tags '{{ nombre_tag }}'</h2>
    <div class="row grid-row">
        {% for modelo in modelos %}
            <div class="col-lg-4 grid-column">
                {% with modelo.imagenesmodelos_set.all|first as image %}
                    <img src="{{ image.imagen.url }}" class="minimagen" />
                    <br>
                    <a href="{% url 'detalle_modelos' modelo.id %}">{{ modelo.nombre }}</a>
                {% endwith %}
            </div>
            {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row grid-row">
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
