{% extends "base/base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} - {% trans "3D models list" %}{% endblock %}

{% block body %}
    <h2>{% trans "Models" %}</h2>
    <div class="row grid-row">
        {% for modelo in object_list %}
            <div class="col-lg-4 grid-column">
                {% with modelo.imagenesmodelos_set.all|first as image %}
                    <a href="{% url 'detalle_modelos' modelo.id %}"><img class="minimagen" src="{{ image.imagen.url }}" />
                    <br>
                    {{ modelo.nombre }}</a>
                {% endwith %}
            </div>
            {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row grid-row">
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
