{% extends "base/base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Upload Image" %}{% endblock %}

{% block body %}
    <div class="col-lg-6">
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% trans "Upload" %}
                </button>
            {% endbuttons %}
    </div>
{% endblock %}

{% block loginlogout %}{% endblock %}
