{# Load the tag library #}
{% load bootstrap3 %}
{% load staticfiles %}
{% load i18n %}
<html>
    <head>
        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        <link href="{% static "css/custom_css.css" %}" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}">
        <link href='http://fonts.googleapis.com/css?family=Raleway:700,400' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        {% bootstrap_javascript %}
        <title>{% block title %}{% trans "3D Repository" %}{% endblock %}</title>
    </head>
    <body>
        <div class="row">
            <div class="title_section">
                {% block loginlogout %}
                    <div class="account_div">
                        {% if user.is_authenticated %}
                            <div class="log_out">
                                <a href="{% url 'auth_logout' %}" class="btn btn-primary">{% trans "Log out" %}</a>
                            </div>
                        {% else %}
                            <div class="log_on">
                                <a href="{% url 'auth_login' %}" class="btn btn-primary">{% trans "Log in" %}</a>
                                <a href="{% url 'registration_register' %} " class="btn btn-primary">{% trans "Sign in" %}</a>
                            </div>
                        {% endif %}
                    </div>
                {% endblock %}
                <h1>
                    {% trans "3D Repository Models" %}
                </h1>
            </div>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-lg-1">
                </div>
                <div class="col-lg-2">
                    {% include "base/lateral_menu.html" %}
                </div>
                <div class="col-lg-9">
                    {# Display django.contrib.messages as Bootstrap alerts #}
                    {% bootstrap_messages %}
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
    <footer>
        <div class="footer">
            <p>
                <a href="{% url 'index' %}">- PFC Alberto Luque Muñoz -</a>
            </p>
        </div>
    </footer>

</html>
