{# Load the tag library #}
{% load bootstrap3 %}
{% load staticfiles %}
<html>
    <head>
        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        <link href="{% static "css/custom_css.css" %}" rel="stylesheet">
        {% bootstrap_javascript %}
        <title>{% block title %}Repositorio Modelos 3D{% endblock %}</title>
    </head>
    <body>
        <div class="row">
            <div class="title_section">
                AQUI IRA LA CABECERA, POR AHORA SOLAMENTE TEXTO LIGERAMENTE PERSONALIZADO
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-2">
                {% include "base/lateral_menu.html" %}
            </div>
            <div class="col-lg-9">
                {# Display django.contrib.messages as Bootstrap alerts #}
                {% bootstrap_messages %}
                {% block body %}
                {% endblock %}

                {% block loginlogout %}
                    {% if user.is_authenticated %}
                        <p>
                            <a href="{% url 'auth_logout' %}">Cierra sesión</a>
                        </p>
                    {% else %}
                        <p>
                            <a href="{% url 'auth_login' %}">Inicia sesión</a>
                        </p>
                        <p>
                            <a href="{% url 'registration_register' %}">Regístrate!!</a>
                        </p>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    </body>
    <footer>
        <div class="footer">
        <p>- PFC Alberto Luque Muñoz -</p>
        </div>
    </footer>

</html>