{% extends "base/base.html" %}
{% load i18n %}

{% block body %}
<div class="profile">
    {% blocktrans with usuario=user.username %}Hi {{ usuario }}, here you can change your email address, see your 3D models or create a new 3D model.{% endblocktrans %}
    <p>{% trans "Email" %}: {{ user.email }}</p>
    <p>
        <a href="{% url 'ver_mis_modelos' user.id %}">{% trans "View my models" %}</a>
    </p>
    <p>
        <a href="{% url 'crear_modelo' %}">{% trans "Create a model" %}</a>
    </p>
</div>
{% endblock %}
