{% extends "base/base.html" %}
{% load i18n %}

{% block title %}{% trans "Account activated" %}{% endblock %}

{% block body %}
<p>
    {% trans "Your account has been ativated successfully. Thanks!!" %}
</p>
    {% if not user.is_authenticated %}
<p>
    {% trans "From this moment , you can already logged on to enjoy the web." %}
    {% endif %}
</p>
{% endblock %}

{% block loginlogout %}
    {% if user.is_authenticated %}
        <p>
            <a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a>
        </p>
    {% else %}
        <p>
            <a href="{% url 'auth_login' %}">{% trans "Log in" %}</a>
        </p>
    {% endif %}
{% endblock %}