{% extends "base/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block body %}
{% bootstrap_messages %}
    <div class="col-lg-4">
        <p>
            {% trans "Enter your new password below to reset your password:" %}
        </p>
        <form method="post" action="">
            {% csrf_token %}
            {% bootstrap_form form %}

            {% buttons %}
                <button type="submit" class="btn btn-primary" value="{% trans "Change password" %}">
                    {% trans "Change password" %}
                </button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
{% block loginlogout %}{% endblock %}

{# This is used by django.contrib.auth #}