body {
    background-color: #ebebeb;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

a {
    color: #c0392b;
}
a:active,
a:hover {
    color: #e67e22;
    text-decoration: none;
}

.title_section {
    text-align: center;
    font-size: 30;
    font-family: fantasy;
    color: red;
    padding: 20;
    background-color: #FCFFDC 
}

.footer {
    text-align: center;
    font-size: 8;
    font-family: monospace;
    border-top: 2px solid #e74c3c;
    padding: 15px;
    margin-top: 15px;
    background-color: #f1f1f1;
}

.content{
    padding: 0 15px;
    max-width: 1170px;
    margin: 0 auto;
    background-color: white;
}

.btn-primary {
    color: #fff;
    background-color: #c0392b;
    border-color: #c0392b;
    font-weight: bold;
}

.btn-primary:hover {
    color: #000000;
    background-color: #c0392b;
    border-color: #c0392b;
}

.descripcion_title{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

.autor{
    font-size: initial;
    font-style: italic;
}

.valoracion {
    color: blue;
    font-size: 40;
    font-family: sans-serif;
}

.tags{
    margin-top: 10px;
    margin-bottom: 15px;
}

.tag_button {
    color: #FBFBFB;
    padding: 5px;
    border-radius: 5px;
    background-color: #6AD8A7;
    box-shadow: 1px 1px #ababab;
}
.tag_button:hover {
    color: #000000;
}
